.kt-content .dataTables_wrapper .dataTables_paginate .paginate_button.current, .main_content .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .main_content .dataTables_wrapper #page-length-option_paginate .paginate_button.current, .main_content .dataTables_wrapper #page-length-option_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #5d78ff;
    border-radius: 6px;
    background: #5d78ff;
}

table.dataTable.stripe tbody tr.odd, table.dataTable tbody tr.odd{
    background-color: white;
    border-bottom: 1px solid #f0f3ff;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: collapse;
}
.dataTables_wrapper .dataTable {
    width: 100%!important;
    border-collapse: collapse!important;
    border-spacing: 0!important;
    margin: 1rem 0!important;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable tbody th, table.dataTable tbody td {
    border-top: 1px solid #f0f3ff;
}

table.dataTable tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: white;
}

table.dataTable tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: white;
}

table.dataTable tr:hover{
    background-color: white!important;
}
table.dataTable tr{
    background-color: white;
}
table.dataTable tr{
    border: none;
}

@media (min-width: 1025px){
    .kt-content {
        padding: 25px 0;
    }
}

.kt-content .dataTables_wrapper select {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 2px;
    background-color: transparent;
    display: inline-block !important;
}
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .flaticon2-right-arrow{
    transition: all .3s ease;
}
.kt-aside-menu .kt-menu__nav .kt-menu__item.kt-menu__item--open>.kt-menu__link>.flaticon2-right-arrow{
    transform: rotateZ(90deg);
    transition: all .3s ease;
}
.btn.btn-elevate{
    display: flex;
}
table.dataTable thead th, table.dataTable thead td{
    padding: 8px 10px;
    border-bottom: 1px solid #f2f3f8;
    vertical-align: top!important;
    white-space: nowrap;
}
.border-12{
    border-radius: 0!important;
    border-bottom: 12px solid #f2f3f8!important;
}

.kt-portlet .select2-container--default .select2-selection--multiple{
    border: 1px solid #e2e5ec;
    min-height: 38px;
}
.kt-portlet .select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding: 5px;
}
.kt-portlet .select2-container{
    max-width: 100%;
}
@media (min-width: 1025px){
    .kt-aside--minimize .kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .flaticon2-right-arrow {
        display: none;
    }
}

#app .btn-xaki-green {
    background-color: #5e78ff;
    color: white;
}
#app .btn {
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
}
#app .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.84615385;
    border-radius: 3px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#app .section-body {
    flex: 1 1 auto;
    margin: 0;
    padding: 1.5rem 0;
    position: relative;
}

#app .section-block {
    padding: 1rem 2rem;
    background-color: #c0d5f194;
}

#app .section-head h4 {
    margin-bottom: 0;
    margin-top: 3px;
    width: 30%;
}

#app .section-head div {
    width: 70%;
}

#app .section-action {
    line-height: 0.5;
    color: white;
    margin-left: 10px;
}
#app .btn-create {
    background-color: #5e78ff;
}

#app .btn-edit {
    background-color: #20a0ab;
}

#app .btn-delete {
    background-color: #ba6868;
}

#app .sections-tab {
    background-color: #b2cbf3;
    color: white;
    margin: 0;
    padding: 5px 1.5rem;
}

#app .sections-tab .nav-item {
    padding-right: 0;
    padding-left: 0;
}

#app .sections-tab .nav-item .active {
    color: white;
    border: none;
    background-color: #6999fb;
}

#app .sections-tab .nav-item .active i{
    color: white;
}

#app .sections-tab .nav-item:hover {
    border: none;
}

#app .sections-tab-content {
    background-color: white;
    padding: 1.5rem;
}

#app .section-resource {
    background-color: white;
    padding: 0.5rem 2rem;
    margin-bottom: 0.3rem;
}

#app .section-resource p {
    width: 60%;
    margin: 5px 0 0 0;
}

#app .section-resource div {
    width: 40%;
}

#app .btn-second {
    padding: 0.2rem;
    min-width: 2rem;
    margin-left: 0.5rem;
    background-color: #efefef;
    border: 1px solid rgba(0, 40, 100, 0.12);
}

#app .btn-second .fa {
    color: #33b091;
    padding-left: 3px;
    padding-right: 3px;
}

#app .section-resource-item {
    background-color: white;
    padding: 0.5rem 2rem 0.5rem 4rem;
    margin-bottom: 0.3rem;
}

#app .section-resource-item .d-flex p {
    width: 60%;
    margin: 5px 0 0 0;
}

#app .section-resource-item .d-flex div {
    width: 40%;
}

#app .btn-cancel {
    background-color: #ba6868;
    color: white;
}

#app .list-group {
    list-style-type: none;
}




/* Navbar - Progress Bar */
.setting-container{
    width: calc(100% - 280px);
}
.setting-item{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
}
.setting-item h4{
    margin-bottom: 20px;
}
.settings{
    padding: 20px 0;
    padding-bottom: 44.5vh;
}
.setting-nav{
    position: sticky;
    top: 139px;
    background-color: #fff;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
}

.setting-navbar{
    padding: 25px 25px 10px;
}
.setting-navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.setting-navbar ul li {
    position: relative;
    margin-bottom: 20px;
}

.setting-navbar ul li a {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    transition: all 0.1s;
}

.setting-navbar ul li a.active {
    color: #5867dd !important;
}

.setting-article {
    padding-top: 138px;
    margin-top: -138px;
    width: 100%;
    /* min-height: 110vh; */
    margin-bottom: 20px
}

#app .progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.703125rem;
    background-color: #e9ecef;
    border-radius: 3px;
}

#app .progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #467fcf;
    transition: width 0.6s ease;
}

#app .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

#app .progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

.course-loader{
    text-align: center;
    position: fixed;
    z-index: 999;
    background-color: #0000004f;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-loader img{
    width: 100px;
}

.dasboard-link {
    box-shadow: 0 3px 6px #0000000F;
    padding: 30px;
    color: #595d6e;
    width: 18%;
}
.dasboard-link img{
    width: 28px;
    height: 28px;
    margin-bottom: 21px;
}
.dasboard-link .kt-portlet__head-title{
    font-size: 16px;
}
.dashboard-blog .kt-widget5 .kt-widget5__item .kt-widget5__content:last-child{
    justify-content: flex-start;
    text-align: left;
    padding-left: 0;
    height: 74px;
    width: 100%;
}
.dashboard-blog .kt-widget5 .kt-widget5__item .kt-widget5__content .kt-widget5__pic{
    height: 100%;
}
.dashboard-blog .kt-widget5 .kt-widget5__item .kt-widget5__content .kt-widget5__pic img{
    height: 100%;
    width: 110px;
    object-fit: cover;
}
.dashboard-blog  .kt-widget5 .kt-widget5__item .kt-widget5__content .kt-widget5__title,
.dashboard-blog .kt-widget5 .kt-widget5__item .kt-widget5__content .kt-widget5__desc{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: block;
}
.dashboard-blog  .kt-widget5__section{
    flex: 0 0 calc(100% - 140px);
    overflow: hidden;
}



.kt-content #hwpwrap .manage-menus{
    box-shadow: 0 0 13px 0 rgba(82,63,105,.1);
    background-color: #fff;
    padding: 10px 20px;
}
.kt-content #hwpwrap .manage-menus select{
    border: 1px solid #e2e5ec;
    border-radius: .25rem;
    outline: 0;
    padding: 7px 5px;
}
.kt-content #hwpwrap #nav-menu-footer{
    background-color: #ffffff;
    padding: 10px 20px;
}
.kt-content #hwpwrap .js .control-section.open .accordion-section-title{
    background-color: #ffffff;
}
.kt-content  #hwpwrap #menu-settings-column .accordion-container{
    box-shadow: 0 0 13px 0 rgba(82,63,105,.1);
    border: none;
}
.kt-content #hwpwrap .wp-core-ui .button-primary{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #0abb87;
    border-color: #0abb87;
    padding: .8rem 1rem;
    box-shadow: none;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 38px;
}
.kt-content #hwpwrap .wp-core-ui .button-primary:hover{
    color: #fff;
    background-color: #08976d;
    border-color: #078b64;
    box-shadow: none;
}
.kt-content #hwpwrap .nav-menus-php .submitdelete{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .78rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    background-color: #fd397a;
    border-color: #fd397a;
    color: #fff;
    height: 38px;
}
.kt-content #hwpwrap .nav-menus-php .submitdelete:hover{
    background-color: #fd1361;
    border-color: #fc0758;
}
.kt-content #hwpwrap .wp-core-ui .button-secondary{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #5867dd;
    padding: .8rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    box-shadow: none;
    color: #ffffff;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    background-color: #5867dd;
    height: 38px;
}
.kt-content #hwpwrap .wp-core-ui .button-secondary:hover{
    background-color: #384ad7;
    border-color: #2e40d4;
    color: #ffffff;
}
.kt-content #hwpwrap #nav-menu-header{
    box-shadow: 0 0 13px 0 rgba(82,63,105,.1);
    background-color: #fff;
    padding: 10px 20px;
}

.kt-content #hwpwrap #menu-name,
.kt-content #hwpwrap .customlinkdiv .howto input,
.kt-content #hwpwrap input{
    display: block;
    height: calc(1.5em + 1.3rem + 2px);
    padding: .65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.kt-content #hwpwrap .nav-menus-php .howto span{
    margin-top: 11px;
}
.kt-content #hwpwrap .nav-menus-php .add-new-menu-action{
    margin-top: 0;
}
.kt-content #hwpwrap .nav-menus-php .add-new-menu-action a{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #2a4eff;
    padding: .8rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    box-shadow: none;
    color: #ffffff;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    outline: 0!important;
    margin-right: -3px;
    background-color: #2a4eff;
    height: 38px;
}
.kt-content #hwpwrap .nav-menus-php .add-new-menu-action a:hover{

}
.kt-content #hwpwrap .manage-menus .selected-menu{
    margin: 11px 6px 0 0;
}
.kt-content  #hwpwrap .control-section .accordion-section-title:after {
    top: 7px;
}
.kt-content #hwpwrap .control-section.open .accordion-section-title:after{
    top: 16px;
}
.kt-content #hwpwrap .nav-menus-php .item-edit:before{
    line-height: 1.7;
}
.kt-content  #hwpwrap .nav-menus-php .menu-item-edit-active .item-edit:before{
    line-height: 2.4;
}
.kt-content #hwpwrap .nav-menus-php .submitbox .submitcancel{
    color: #ffffff;
    padding: .65rem 1rem;
    height: inherit;
}
.kt-content #hwpwrap .nav-menus-php .submitbox .submitcancel:hover{
    background-color: #384ad7;
    border-color: #2e40d4;
    color: #ffffff;
}
.kt-content  #hwpwrap .nav-menus-php .submitdelete{
    margin: 0;
}
.kt-content  #hwpwrap .nav-menus-php .meta-sep{
    display: none;
}
.kt-content #hwpwrap .nav-menus-php .meta-sep, .kt-content #hwpwrap .nav-menus-php .submitcancel, .kt-content #hwpwrap .nav-menus-php .submitdelete{
    margin-right: 10px;
}
.kt-content #hwpwrap .menu-item-settings{
    width: 382px;
}
.kt-content #hwpwrap .description-thin{
    height: inherit;
}
.kt-content #hwpwrap .nav-menus-php #post-body{
    padding: 0 20px 10px;
}




@media (max-width: 1399px) {
    .dasboard-link{
        padding: 20px;
    }
}
@media (max-width: 767px){
    .dasboard-link{
        width: 48%;
        margin-bottom: 20px;
    }
}
@media (max-width: 575px){
    .setting-container{
        width:100%;
    }
    .setting-nav{
        position: initial;
    }
}
